.header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 0 2px 7px -2px #ccc;

  @media screen and (max-width: 768px) {
    flex-direction: row-reverse;
  }

  &__logo {
    max-width: 300px;
    @media screen and (max-width: 768px) {
      max-width: 150px;
    }
    img {
      max-width: 100%;
      display: block;
    }
  }

  &__navigation {
    @media screen and (max-width: 768px) {
      display: none;
    }
    &--mobile {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        z-index: 1;
        position: fixed;
        width: 200px;
        height: 100%;
        left: -200px;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        ul {
          padding: 20px 0;
          text-align: center;
          li {
            margin: 30px 0;

            a {
              color: #fff;
            }
          }
        }
      }
    }

    ul {
      display: flex;

      li {
        margin: 0 10px;
      }

      a {
        color: #000;
        font-size: 0.9em;
      }
    }
  }

  &__menu {
    max-width: 300px;
    position: relative;

    .nav_buttons {
      display: flex;

      #button-menu {
        display: none;
      }

      @media screen and (max-width: 768px) {
        flex-direction: row-reverse;
        #button-menu {
          display: block;
        }
      }
    }

    #menu {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    a {
      color: #000;
    }

    i {
      font-size: 2em;
      margin: 0 20px;

      @media screen and (max-width: 768px) {
        font-size: 1.4em;
      }
    }

    .arrow {
      display: none;
      position: absolute;
      width: 0;
      height: 0;
      right: 18px;
      top: 41px;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-bottom: 18px solid #f0f0f0;

      @media screen and (max-width: 768px) {
        left: 75px;
      }
    }

    &__cart {
      display: none;
      flex-direction: column;
      max-width: 100%;
      position: absolute;
      right: 0;
      min-width: 340px;
      padding: 10px 10px;
      top: 56px;
      background: #f0f0f0;
      @media screen and (max-width: 768px) {
        left: 0;
      }

      .total {
        padding: 15px 0;
        text-align: center;
      }

      .buy {
        padding: 15px 0;
        background: #00bc0e;
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
      }

      .products__list {
        max-height: 400px;
        overflow-y: scroll;
      }

      &__products {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: 0;
        }

        .products__description {
          text-align: left;
          margin: 0 auto;

          &__name {
            max-width: 155px;
            font-size: 13px;
            margin-bottom: 10px;
          }

          &__qnt {
            font-size: 14px;
            margin-right: 10px;
            font-weight: bold;
          }

          &__value {
            font-size: 14px;
            color: #00bc0e;
            font-weight: bold;
          }
        }
        img {
          max-width: 80px;
        }
      }
    }
  }
}
