* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open {
  display: flex !important;
}

.open_menu {
  animation: open_menu 1s;
  animation-fill-mode: forwards;
  display: block;
}

.open_menu_button {
  z-index: 10;
  color: #fff !important;
}

@keyframes open_menu {
  100% {
    left: 0;
  }
}

.openBlock {
  display: block !important;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
